* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.DexContainer {
    margin: 0 auto;
    /* background: #8e0000; */
    background: rgb(233, 233, 233);
    max-width: 900px;
    max-height: 900px;
    color: #f0f0f0;
    /* border-radius: 25px; */
    display: flex;
    flex-flow: row nowrap;
}
.DexLeftHandle {
  border: 4px solid #5e0000;
  width: 75px;
  background: -moz-linear-gradient(left, rgba(141,0,0,1) 0%, rgba(191,13,13,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(141,0,0,1)), color-stop(100%, rgba(191,13,13,1)));
  background: -webkit-linear-gradient(left, rgba(141,0,0,1) 0%, rgba(191,13,13,1) 100%);
  background: -o-linear-gradient(left, rgba(141,0,0,1) 0%, rgba(191,13,13,1) 100%);
  background: -ms-linear-gradient(left, rgba(141,0,0,1) 0%, rgba(191,13,13,1) 100%);
  background: linear-gradient(to right, rgba(141,0,0,1) 0%, rgba(191,13,13,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8d0000', endColorstr='#bf0d0d', GradientType=1 );
  border-radius: 2em 0 0 2em;
  
}
.DexRightHandle {
  width: 75px;
}
.DexLeftScreen {
  background: #0f0f0f;
  width: 375px;
  height: 375px;
  display: flex;
  flex-flow: column nowrap;
  border: 2px solid #494949;
}

.DexLeftScreen__SpriteGrid {
  display: flex;
  flex-flow: row wrap;
  /* justify-content: space-evenly; */
  justify-content: center;
  overflow-y: scroll;
}

.DexLeftScreen__SpriteGrid__Sprite {
  /* background: rgba(0,0,0,0.3); */
  background: rgba(0, 36, 0, 0.5);
  margin: .1em;
}

.DexLeftScreen__SpriteGrid__img {
  width: 75px;
  /* border: 1px solid #f1f1f1; */
  
  border-radius: 0.5em;
  
}



.DexRightScreen {
  background: #0f0f0f;
  width: 375px;
  height: 375px;
  display: flex;
  flex-flow: column nowrap;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #313131;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}